@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../resources/fonts/Roboto-Mono/Roboto-Mono-regular.eot');
  src: url('../resources/fonts/Roboto-Mono/Roboto-Mono-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto Mono'),
       local('Roboto-Mono-regular'),
       url('../resources/fonts/Roboto-Mono/Roboto-Mono-regular.woff2') format('woff2'),
       url('../resources/fonts/Roboto-Mono/Roboto-Mono-regular.woff') format('woff'),
       url('../resources/fonts/Roboto-Mono/Roboto-Mono-regular.ttf') format('truetype'),
       url('../resources/fonts/Roboto-Mono/Roboto-Mono-regular.svg#RobotoMono') format('svg');
}


@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../resources/fonts/Montserrat/Montserrat-regular.eot');
  src: url('../resources/fonts/Montserrat/Montserrat-regular.eot?#iefix') format('embedded-opentype'),
       local('Montserrat-Regular'),
       local('Montserrat-regular'),
       url('../resources/fonts/Montserrat/Montserrat-regular.woff2') format('woff2'),
       url('../resources/fonts/Montserrat/Montserrat-regular.woff') format('woff'),
       url('../resources/fonts/Montserrat/Montserrat-regular.ttf') format('truetype'),
       url('../resources/fonts/Montserrat/Montserrat-regular.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Bree Serif';
  font-weight: 400;
  font-style: normal;
  src: url('../resources/fonts/Bree-Serif/Bree-Serif-regular.eot');
  src: url('../resources/fonts/Bree-Serif/Bree-Serif-regular.eot?#iefix') format('embedded-opentype'),
       local('Bree Serif'),
       local('Bree-Serif-regular'),
       url('../resources/fonts/Bree-Serif/Bree-Serif-regular.woff2') format('woff2'),
       url('../resources/fonts/Bree-Serif/Bree-Serif-regular.woff') format('woff'),
       url('../resources/fonts/Bree-Serif/Bree-Serif-regular.ttf') format('truetype'),
       url('../resources/fonts/Bree-Serif/Bree-Serif-regular.svg#BreeSerif') format('svg');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-style: normal;
  src: url('../resources/fonts/Libre-Baskerville/Libre-Baskerville-regular.eot');
  src: url('../resources/fonts/Libre-Baskerville/Libre-Baskerville-regular.eot?#iefix') format('embedded-opentype'),
       local('Libre Baskerville'),
       local('Libre-Baskerville-regular'),
       url('../resources/fonts/Libre-Baskerville/Libre-Baskerville-regular.woff2') format('woff2'),
       url('../resources/fonts/Libre-Baskerville/Libre-Baskerville-regular.woff') format('woff'),
       url('../resources/fonts/Libre-Baskerville/Libre-Baskerville-regular.ttf') format('truetype'),
       url('../resources/fonts/Libre-Baskerville/Libre-Baskerville-regular.svg#LibreBaskerville') format('svg');
}

@font-face {
  font-family: 'Ultra';
  font-weight: 400;
  font-style: normal;
  src: url('../resources/fonts/Ultra/Ultra-regular.eot');
  src: url('../resources/fonts/Ultra/Ultra-regular.eot?#iefix') format('embedded-opentype'),
       local('Ultra'),
       local('Ultra-regular'),
       url('../resources/fonts/Ultra/Ultra-regular.woff2') format('woff2'),
       url('../resources/fonts/Ultra/Ultra-regular.woff') format('woff'),
       url('../resources/fonts/Ultra/Ultra-regular.ttf') format('truetype'),
       url('../resources/fonts/Ultra/Ultra-regular.svg#Ultra') format('svg');
}

@font-face {
  font-family: 'Monoton';
  font-weight: 400;
  font-style: normal;
  src: url('../resources/fonts/Monoton/Monoton-regular.eot');
  src: url('../resources/fonts/Monoton/Monoton-regular.eot?#iefix') format('embedded-opentype'),
       local('Monoton'),
       local('Monoton-regular'),
       url('../resources/fonts/Monoton/Monoton-regular.woff2') format('woff2'),
       url('../resources/fonts/Monoton/Monoton-regular.woff') format('woff'),
       url('../resources/fonts/Monoton/Monoton-regular.ttf') format('truetype'),
       url('../resources/fonts/Monoton/Monoton-regular.svg#Monoton') format('svg');
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    background-color: black;
}

#app {
    height: 100%;
}

.app-container {
    height: 100%;
}


button {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #3A4A5A;
    color: #ccc;
    border-radius: 10px;
    margin-bottom: 2px;
}

select {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: white;
    color: #333;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 2px;
}



.pulse {
    animation: pulse 1s infinite;
}

.word-animation {
    transition: color 2s, text-shadow 2s;
}

@keyframes pulse {
    0% {
        color: #333;
    }
    40% {
        color: white;
    }
    80% {
        color: #333;
    }
}


.settings-dialog.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 355px;
    max-height: 355px;
    overflow: auto;
    background-color: #345;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 5px;
    color: #ccc;
    box-shadow: 0 0 40px #000;
    font-size: 10pt;
}


.settings-dialog label span {
    display: inline-block;
    width: 120px;

    line-height: 20px;
    vertical-align: top;
}

.settings-dialog a {
    color: #ccc;
}

.settings-dialog input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.settings-dialog fieldset {
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
