@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../resources/fonts/Roboto_Mono/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../resources/fonts/Montserrat/Montserrat-Regular.ttf);
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    background-color: black;
}

#app {
    height: 100%;
}

.app-container {
    height: 100%;
}


button {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #3A4A5A;
    color: #ccc;
    border-radius: 10px;
}


.pulse {
    animation: pulse 1s infinite;
}

.word-animation {
    transition: color 2s, text-shadow 2s;
}

@keyframes pulse {
    0% {
        color: #333;
    }
    40% {
        color: white;
    }
    80% {
        color: #333;
    }
}


.settings-dialog.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 390px;
    height: 320px;
    background-color: #345;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 5px;
    color: #ccc;
    box-shadow: 0 0 40px #000;
    font-size: 10pt;
}


.settings-dialog label span {
    display: inline-block;
    width: 120px;
}

.settings-dialog a {
    color: #ccc;
}

.settings-dialog fieldset {
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
