

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    background-color: black;
}

#app {
    width: 100%;
    height: 100%;
}

/*
button,.button {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #3A4A5A;
    color: #ccc;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 2px;
    font-size: 11px;
}

button:hover, .button:hover {
    background-color: #7c7b7b;
    cursor: pointer;
}

select {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: white;
    color: #333;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 2px;
}



.settings-dialog.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 380px;
    max-height: 380px;
    overflow: auto;
    background-color: #345;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 5px;
    color: #ccc;
    box-shadow: 0 0 40px #000;
    font-size: 10pt;
}

.settings-dialog .closer {
    position: absolute;
    top: 5px;
    right: 5px;
}

.settings-dialog .closer a {
    display: block;
    line-height: 20px;
    text-align:center;
    width: 20px;
    height:20px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.settings-dialog .closer a:hover {
    background-color: #aaa;
}


.settings-dialog label span {
    display: inline-block;
    width: 120px;

    line-height: 20px;
    vertical-align: top;
}

.settings-dialog a {
    color: #ccc;
}

.settings-dialog input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.settings-dialog fieldset {
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/